h1 {
  color: #747;
  text-align: center;
  font-size: 47px;
}
h2{
  color:#747;
  text-align: center;
}
p {
  color:#747;
  text-align: center;
  font-size: 21px;
}
body {
  background-color:#212;
  text-align: center;
}
a {
  color:white;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
